html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }


body{
    font-family: 'Open Sans', sans-serif;
    color: white;
    background: linear-gradient(to bottom, rgb(43,50,178) 0%, rgb(20,136,204) 100%) no-repeat; 
    text-align: center;
}


.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.location{
    text-align: left;
    font-size: 1.2em;
    width: 70%;
    padding: 10px;
    line-height: 2rem; 
}
.location > *{
    margin-top: 0;
}

.temperature{
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    margin-bottom: 7px;
    
    
}

.icon{
    margin:5px;
    width: 45%;
    
}

.icon img{
    height: 85%;
    width: 135px;
    
}

.temperature__summary{
    width: 45%; 
}

.current-stats , .hours, .days{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.stat{
    padding: 5px;
    text-align: center;
    width: 30%;
}
.by-hours, .current-stats, .next-days{
    border-top: 1px solid rgba(255,255,255,0.5);
}

.hours,.days{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.by-hours{
    display: none;
}
.by-hour,.day{
    font-size: 0.8rem;
    padding: 2px;
    margin: 5px;
    width: 15%;
    text-align: center;
    background-color: rgba(0,0,0,0.20);
    border-radius: 5px;  
}

.by-hour img, .day img{
 width: 70%;
}

.by-hours__title, .next__title{
    font-size: 1.3rem;
    
}
.day > * {
    font-weight: bold;
}

@media only screen and (min-width: 600px){
    .wrapper{
        width: 80%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
    }

    .temperature, .current-stats{
        width: 50%;
    }

    .current-stats{
       border-top: 0; 
       border-left: 1px solid rgba(255,255,255,0.5); 
    }

    .by-hours{
        display: block;
        width: 100%;
    }

    .next-days{
        width: 100%;
    }




}



